#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-width: 35rem;
  width: auto;
  min-height: 40vh;
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin: 0 auto;
}

.weather-info {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  min-width: 100%;
  max-width: 40rem;
} 

.weather-info h3 {
  display: inline-flex;
  min-width: 20%;
} 

.weather-info input {
  display: flex;
  width: 20%;
  font-size: 1.5rem;
  border: none;
  text-align: center;
  border-bottom: 2px solid white;
  background: transparent;
  transition: width 0.3s ease;
  outline: none;
}

.wrap-me {
  display: flex;
  flex-direction: row;
  height: 15rem;
}

.weather-main {
  display: flex;
  flex-direction: row;
  background-color: brown;
  flex: 2;
}

.mitem {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.mitem p {
  font-size: 5rem;
  font-weight: 600;
}

.mitem img {
  width: 8rem;;
}


.weather-right {
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex: 1;
  border: 1px solid white; 
}

.ritem {
  height: 3.7rem;
  justify-content: center;
  align-items: center;  
  border: 1px solid white; 
}

.weather-state {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color:cadetblue;
  color: black;
  font-weight:bolder;
}



